
.header-container {
    min-height: 10vh;
    background: var(--c-primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: var(--c-secondary);
    gap: 20px 0;
    padding: 2vh 0;
}


.header-container img {
    
    border-radius: 20px;
    height: 8vh;
    cursor: pointer;
    

}
.header-container a {
    color: var(--c-primary);
    background: var(--c-secondary);
    padding: 1rem 4rem;
    border-radius: 20px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

}
.header-container a:hover {
    transform: scale(1.05);

}
.home-container {
    min-height: 90vh;
    background: var(--c-secondary);
    padding: 10vh 5vw;
    text-align: center;
}

.home-container h1 {
    font-size: 4rem;
    margin-bottom: 10vh;
}

.home-container table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 10vh 0;
    margin: 0 auto;
    width: 80vw;
    background: var(--c-primary);
    color: var(--c-secondary);
    border-radius: 25px;
}


.home-container table td, .home-container table th {
    min-width: 20vw;
    text-align: left;
    font-size: 2rem;
    padding: 2rem 1rem;
    /* border: 2px solid var(--c-secondary); */
    border-radius: 5px;

}

.home-container table td a {
    color: var(--c-warning);
    text-decoration: none;
    cursor: pointer;

}
.home-container table td a:hover {
    color: var(--c-danger);

}